dotenv config/.env
export PYTHONPATH=src
export RUN_DIR=${RUN_DIR:-.run}
export REPORTS_DIR=${REPORTS_DIR:-$RUN_DIR/reports}
export LOG_DIR=${LOG_DIR:-$RUN_DIR/logs}
export DAGSTER_HOME=${DAGSTER_HOME:-$RUN_DIR/dagster}
export UV_PROJECT_ENVIRONMENT=${UV_PROJECT_ENVIRONMENT:-$RUN_DIR/.venv}
